* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.site-wrapper {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem;
}

.navbar,
.hero-section,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem 0px;
}

.logo-wrapper {
  font-size: 24px;
  font-weight: bold;
}

.navmenu {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.hero-wrapper,
.card-wrapper,
.quote-wrapper {
  padding: 4rem 0rem;
  display: flex;
  gap: 2rem;
}

.card-wrapper {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  width: 100%;
}

.hero-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  justify-content: baseline;
  align-items: baseline;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
}

.hero-image {
  width: 50%;
  height: 20rem;
  background-color: #333333;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.75rem 2rem;
  background-color: #3882f6;
  border-radius: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: 3rem;
}

.card {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  max-width: 10rem;
  text-align: center;
}

.card--image {
  width: 10rem;
  height: 10rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 1rem;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-wrapper {
  flex-flow: column nowrap;
  gap: 1rem;
}

.quote--author {
  margin-left: auto;
  font-weight: bold;
}

.cta-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #3882f6;
  color: white;
  margin: 4rem 0rem;
  padding: 2rem 4rem;
  border-radius: 1rem;
  gap: 2rem;
}

.cta-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.cta-heading {
  font-size: 20px;
}

.btn-secondary {
  border-style: solid;
  border-width: 0.2rem;
  border-color: white;
}

.footer-wrapper {
  display: flex;
  padding: 3rem 0rem;
  justify-content: center;
  align-items: center;
}
